@import ../partials/index

html
  font-size: 10px

  +huge
    font-size: 12.5px

body
  font-size: 1.6rem

nav,
form
  a
    text-decoration: none
    color: currentColor

  ul
    +horizontal-list

img, svg, picture
  width: 100%
  height: auto
  display: block

section,
article,
main
  position: relative
  //transition: $transition-quick

@for $i from 1 through 12
  .col-#{$i}
    +grid-width($i)

.content
  position: relative
  +content-width
  margin: 0 auto

  .content
    padding: 0

  &.flex
    +flex-space