@import var
@import media

@import mixins/positioning
@import mixins/scrim
@import mixins/stagger
@import mixins/state
@import mixins/type

=horizontal-list
  list-style-type: none
  margin: 0
  padding: 0
  display: flex
  align-items: center

=content-width
  max-width: $grid-width
  width: 100%
  padding: 0 $content-external-gutter

  +medium
    max-width: 100%
    padding: 0 $margin-mid

  +small
    padding: 0 $margin-small

=hidden
  opacity: 0
  pointer-events: none

=unhidden
  opacity: 1
  transform: none
  pointer-events: auto

=scrollable
  overflow-y: auto
  -webkit-overflow-scrolling: touch

=scroll-height-auto
  height: auto
  height: var(--scroll-height, auto)

=shadow($color, $percentage: 40%, $length: 2.5vh)
  box-shadow: $length $length $length*2 darken($color, $percentage)

=background-blur($color, $blur, $blurOpacity, $opacity: 1)
  background-color: transparentize($color, 1 - $opacity)

  @supports (-webkit-backdrop-filter: blur($blur))
    -webkit-backdrop-filter: blur($blur)
    background-color: transparentize($color, 1 - $blurOpacity)

// http://alistapart.com/article/using-css-mod-queries-with-range-selectors
// mod query mixins
=mod-list($mod, $remainder)
  &:nth-last-child(#{$mod}n+#{$remainder}):first-child,
  &:nth-last-child(#{$mod}n+#{$remainder}):first-child ~ li
    @content

@function v($var,$unit: px)
  @return calc(var(—-#{$var}) * #{1 + $unit})

=overlay($opacity: 1, $color: #000, $before: false, $blend-mode: normal)
  $selector: after
  @if ($before)
    $selector: before

  &:#{$selector}
    content: ''
    +full-size-absolute
    z-index: 1
    opacity: $opacity
    background-color: $color
    mix-blend-mode: $blend-mode

=hover-dim($dim-opacity: 0.5, $full-opacity: 1)
  pointer-events: none

  +hover
    > *
      opacity: $dim-opacity

  > *
    pointer-events: auto

    +hover
      opacity: $full-opacity