@import var
@import media

=horizontal-list
  list-style-type: none
  margin: 0
  padding: 0

  li
    display: inline-block

=full-size
  top: 0
  bottom: 0
  left: 0
  right: 0

=full-size-absolute
  +full-size
  position: absolute

=full-size-fixed
  +full-size
  position: fixed

=content-width
  max-width: $grid-width
  width: 100%
  padding: 0 1.2rem // todo set var

  +medium
    max-width: 100%
    padding: 0 $margin-mid

  +small
    padding: 0 $margin-small

=hidden
  opacity: 0
  pointer-events: none

=unhidden
  opacity: 1
  transform: none
  pointer-events: auto

=scrollable
  overflow-y: auto
  -webkit-overflow-scrolling: touch

=hover
  html:not(.mobile):not(.tablet) &
    &:hover
      @content

=focused
  +hover
    @content
  &:focus
    @content

=scroll-height-auto
  height: auto
  height: var(--scroll-height, auto)

=shadow($color, $percentage: 40%, $length: 2.5vh)
  box-shadow: $length $length $length*2 darken($color, $percentage)

=background-blur($color, $blur, $blurOpacity, $opacity: 1)
  background-color: transparentize($color, 1 - $opacity)

  @supports (-webkit-backdrop-filter: blur($blur))
    -webkit-backdrop-filter: blur($blur)
    background-color: transparentize($color, 1 - $blurOpacity)

=flex-center($direction: column)
  display: flex
  flex-direction: $direction
  justify-content: center
  align-items: center

=flex-space($direction: row)
  display: flex
  flex-direction: $direction
  justify-content: space-between
  align-items: center

=type-min-max($size, $direction, $max-px, $min-px: 1px)
  font-size: $size + $direction

  @media screen and (min-width: $max-px / $size * 100)
    font-size: $max-px

  @media screen and (max-width: $min-px / $size * 100)
    font-size: $min-px

// http://alistapart.com/article/using-css-mod-queries-with-range-selectors
// mod query mixin
=mod-list($mod, $remainder)
  &:nth-last-child(#{$mod}n+#{$remainder}):first-child,
  &:nth-last-child(#{$mod}n+#{$remainder}):first-child ~ li
    @content

@import scrim
@import stagger

@function v($var,$unit: px)
  @return calc(var(—-#{$var}) * #{1 + $unit})
