@import var
@import media

@import mixins/positioning
@import mixins/scrim
@import mixins/stagger
@import mixins/state
@import mixins/type
@import mixins/shadow
@import mixins/background-blur
@import mixins/overlay

=horizontal-list
  list-style-type: none
  margin: 0
  padding: 0
  display: flex
  align-items: center

=content-width
  max-width: $grid-width
  width: 100%
  padding: 0 $content-external-gutter

  +medium
    max-width: 100%
    padding: 0 $padding-m

  +small
    padding: 0 $padding-s

=hidden
  opacity: 0
  pointer-events: none

=visually-hidden
  position: absolute
  clip: rect(1px, 1px, 1px, 1px)
  clip-path: inset(0px 0px 99.9% 99.9%)
  overflow: hidden
  height: 1px
  width: 1px
  padding: 0
  border: 0

=visually-hidden-with-opacity
  +visually-hidden
  opacity: .01

=unhidden
  opacity: 1
  transform: none
  pointer-events: auto

=scrollable($x: false, $y: true)
  @if ($y)
    @if($y == hidden)
      overflow-y: hidden
    @else
      overflow-y: auto

  @if($x)
    @if($x == hidden)
      overflow-x: hidden
    @else
      overflow-x: auto
  -webkit-overflow-scrolling: touch

=scroll-height-auto
  height: auto
  height: var(--scroll-height, auto)

=window-height-100vh
  height: 100vh
  height: var(--window-height, 100vh)

// http://alistapart.com/article/using-css-mod-queries-with-range-selectors
// mod query mixins
=mod-list($mod, $remainder)
  &:nth-last-child(#{$mod}n+#{$remainder}):first-child,
  &:nth-last-child(#{$mod}n+#{$remainder}):first-child ~ li
    @content

@function v($var,$unit: px)
  @return calc(var(—-#{$var}) * #{1 + $unit})

=gradient-map($color, $color-bottom: $color, $top-blend-mode: multiply, $bottom-blend-mode: screen, $opacity: 1)
  +overlay($opacity: $opacity, $color: $color, $blend-mode: $top-blend-mode)
  +overlay($opacity: $opacity, $color: $color-bottom, $blend-mode: $bottom-blend-mode, $before: true)

=hover-dim($dim-opacity: 0.5, $full-opacity: 1)
  pointer-events: none

  +hover
    > *
      opacity: $dim-opacity

  > *
    pointer-events: auto

    +hover
      opacity: $full-opacity

=circle($size)
  width: $size
  height: $size
  border-radius: $size / 2
  overflow: hidden
  flex-shrink: 0
